<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.permissionx.clothestest"
    android:versionCode="3"
    android:versionName="1.0.0.4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_video"
        android:label="VideoWatching"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_video_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClothesTest"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".videoplay.SystemMediaVideoPlay"
            android:label="@string/title_activity_system_media_video_play"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="sensor">
        </activity>
        <activity
            android:name=".game.ShowGameWebView"
            android:label="@string/title_activity_show_game_web_view"
            android:theme="@style/Theme.ClothesTest.NoActionBar">
        </activity>
        <activity
            android:name=".game.ShowGameInfo"
            android:label="@string/title_activity_show_game_info"
            android:theme="@style/Theme.ClothesTest.NoActionBar" />
        <activity
            android:name=".game.SearchGame"
            android:label="@string/title_activity_search_game"
            android:theme="@style/Theme.ClothesTest.NoActionBar" />
        <activity
            android:name=".videoplay.ShowAllText"
            android:label="@string/title_activity_show_all_text"
            android:theme="@style/Theme.ClothesTest.NoActionBar" />
        <activity
            android:name=".videoplay.ShowVideo"
            android:label="@string/title_activity_show_video"
            android:theme="@style/Theme.ClothesTest.NoActionBar" />
        <activity
            android:name=".videoplay.SearchVideo"
            android:theme="@style/Theme.ClothesTest.NoActionBar" />
        <activity
            android:name=".videoplay.VideoPlayWebview"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_video_play_webview"
            android:theme="@style/Theme.ClothesTest.NoActionBar" />
        <activity
            android:name=".register.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.ClothesTest.NoActionBar" />
        <activity
            android:name=".login.Login"
            android:label="戴个耳机"
            android:theme="@style/Theme.ClothesTest.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="VideoStation"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>
    </application>

</manifest>